* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color:black;
	background-color: white;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color:blue;
	margin-bottom: 1rem;
	text-align: center;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: white;
	padding: 1rem;
	border: 1px solid black;
	margin-right: 1rem;
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: gray;
}
.fa-pen{
	color: gray;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}


#tasks .task {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	margin-bottom: 1rem;
	border: 1px solid black;
	color: gray;
	border-left:none ;
	border-right:none ;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: gray;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: rgb(160, 7, 7);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
	color: red;

	
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	color: red;
}

.task .actions .delete {
	color:gray;
}